<%- include('../partials/head') %>

<body>

<%- include('../partials/header') %>

    <div class="main">
        <section class="barca">
            <img src="/images/barca.jpeg" alt="camiseta barca" class="foto">
            <article class="masfotos">
                <i class="fas fa-backward"></i>
                <img src="/images/barca2.jpeg" alt="camiseta barca" class="foto2" width="12%">
                <img src="/images/barca3.jpeg" alt="camiseta barca" class="foto3" width="12%">
                <img src="/images/barca4.jpeg" alt="camiseta barca" class="foto4" width="12%">
                <img src="/images/barca5.jpeg" alt="camiseta barca" class="foto5" width="12%">
                <img src="/images/barca6.jpeg" alt="camiseta barca" class="foto6" width="12%">
                <i class="fas fa-forward"></i>
            </article>
        </section>
    
        <section class="descripcion">
                </p><h2>Camiseta Nike Barcelona Home </h2></p>
                <p><h2>2021/2022 + Parche UEFA </h2></p>
                <p><h2>Champions League</h2></p>
                <br>
                <h2>$17.500</h2>
                <br>
                <h4>Talle</h4>
                <br>
                <p>
                    <h3 class="talles">
                        <div class="circulo">
                            <h2>S</h2>
                        </div>   
                        <div class="circulo">
                            <h2>M</h2>
                        </div>   
                        <div class="circulo">
                            <h2>L</h2>
                        </div>   
                        <div class="circulo">
                            <h2>XL</h2>
                        </div>   
                        <div class="circulo">
                            <h2>XXL</h2>
                        </div>   
                        <div class="circulo">
                            <h2>XXXL</h2>
                        </div>
                    </h3>
                </p>
                <br>
                <br>
                <P></P>
                <hr>
                <br>
                <h4>Guia de talles</h4>
                <br>
                <hr>
                <br>
                <h4 class="cantidad">Cantidad <div class="cuadrado">1</div></h4> 
                <br>
                <hr>
                <br>
                <br>
                <br>
                
                    <button class="boton"><b>Añadir al carrito</b></button>
        </section>
    </div>

        <section class="recomendaciones">
            <h2>Otras recomendaciones</h2>
        </section>

        <br>

    <div>
        <section class="mascamisetas">
            <div class="cam1">
                <img src="/images/barca.jpeg" alt="" width="80%" class="imgBar">
                <h4>Camiseta Nike Barcelona Home
                   2021/2022 + Parche UEFA
                   Champions League</h4>
            </div>
    
            <div class="cam2">
                <img src="/images/barca.jpeg" alt="" width="80%" class="imgBar">
                <h4>Camiseta Nike Barcelona Home
                       2021/2022 + Parche UEFA
                       Champions League</h4>
            </div>
    
            <div class="cam3">
                <img src="/images/barca.jpeg" alt="" width="80%" class="imgBar">
                <h4>Camiseta Nike Barcelona Home
                        2021/2022 + Parche UEFA
                        Champions League</h4>
            </div>
    
            <div class="cam4">
                <img src="/images/barca.jpeg" alt="" width="80%" class="imgBar">
                <h4>Camiseta Nike Barcelona Home
                               2021/2022 + Parche UEFA
                               Champions League</h4>
            </div>
    
            <div class="cam5">
                <img src="/images/barca.jpeg" alt="" width="80%" class="imgBar">
                <h4>Camiseta Nike Barcelona Home
                        2021/2022 + Parche UEFA
                        Champions League</h4>
            </div>
            
        </section>
    </div>

<%-include('../partials/footer') %>

</body>

</html>