* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    
}

/* Footer*/

footer {
    font-family: 'Open Sans', sans-serif;
    background-color: #252F3D;
    color: white;
    margin-top: 50px;
}

.logo {
    display: none;    
}

div.listas-footer {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    font-weight: 300;
}

div.listas-footer ul {
    list-style: none;
    font-size: 8px;
    
}

div.mobile p {
    font-weight: bold;
    padding: 10px 0 5px 0;
}

div.community p {
    font-weight: bold;
    padding: 10px 0 5px 0;
}

div.company p {
    font-weight: bold;
    padding: 10px 0 5px 0;
}

div.register {
    padding: 20px 0 30px 30px; 
}

.button-log {
    background-color:#F5BF76;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 4px 13px;
    align-content:  center;
    font-size: 9px;
}

.button-sing {
    background-color:#F29C38;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 4px 12px;
    align-content:  center;
    font-size: 9px;
}

div.footer-inferior {
    display: flex;
    font-size: 9px;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.50);
    padding: 10px 15px 10px 20px;
    font-weight: bold;
}

div.social p {
    display: none;
}

@media (min-width: 415px) {
    /* Footer*/
    footer {
        display: block;
    }

    div.footer-superior {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .logo {
        display: flex;
        }    
    
    .logo_img {
        width: 60%;
        padding: 0px;
        margin-left: 10px;
    }

    div.footer-derecha {
        width: 80%;
        padding-right: 40px;        
    }

    div.listas-footer {
        font-size: 12px;
        font-weight: 300;
    }
    
    div.listas-footer ul {
        font-size: 10px;               
    }

    div.listas-footer li {
        padding: 5px 0;
    }    

    div.register {
        flex-direction: column;
        width: 40%;              
    }

    div.register button {
        margin: 5px
    }

    .button-log {
        padding: 4px 18.5px;        
        font-size: 12px;
    }
    
    .button-sing {
        padding: 4px 14px;        
        font-size: 12px;
    }
    
    div.footer-inferior {
        padding: 20px 10px;
        font-size: 12px;        
    }
    
    div.social {
        display: flex;
        justify-content: space-around;
        width: 20%;
    }

    div.social p {
        display: flex;
    }

  }

  @media (min-width: 769px) {
      /* Footer*/

    div.listas-footer {
        font-size: 14px;
        font-weight: 300;
    }   
     

    div.register {
        flex-direction: column;
        width: 20%;              
    }

    div.register button {
        margin: 5px
    }

    .button-log {
        padding: 4px 18.5px;        
        font-size: 14px;
    }
    
    .button-sing {
        padding: 4px 14px;        
        font-size: 14px;
    }
    
    div.footer-inferior {
        padding: 30px 10px;
        font-size: 14px;        
    }
    
    div.social {
        display: flex;
        justify-content: space-around;
        width: 20%;
    }

    div.social p {
        display: flex;
    }

  
}