h2.products-title {
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color:#F29C38;
    color: white;
    border: 5px solid white;
    border-radius: 10px;
}
.products-container {
    border: 5px solid blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-box {
    text-align: center;
    border: 1.5px solid #C4C4C4;
    width: 20%;
    padding: 10px;
    margin: 30px 15px;
    background-color: #F2F2F2;
}
.product-box-addProduct {
    text-align: center;
    border: 5px solid #F29C38;
    width: 20%;
    padding: 10px;
    margin: 30px 15px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.product-box img {
    width: 100%;
    border: 0.4px solid;
    border-color: #F29C38;
    height:70%
}

.product-box_data {
    border:0.4px solid;
    border-color: #252F3D transparent transparent;
    height: 30%;
    font-family: 'Open Sans', sans-serif;
}


.product-box:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .product-box-addProduct:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }


a:link,a:visited,a:active{
    color: black ;
    text-decoration: none;
    }
a:hover {
    text-decoration:underline;
    }
