* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Red Hat Display', sans-serif;
    background-color: white;
}

.form-label {
    display: inline-block;
    font-size: 1.1 em;
    margin: 10px 0;
    
  }
  
  .form-input {
    display: block;
    width: 50%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.1em;
    border-radius: 8px;
    border: none;
    border: solid 1px gray;
    padding: 0 15px;    
  }
  
  textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
  }

  .col-12 {
    border: 1px solid grey;
    margin: 0 auto;
    width: 90%;
    min-height: auto;
    padding: 1em;
    font-size: small;
  }

  .nombrep {
    margin: 0 auto;
    width: 90%;
    min-height: auto;
    padding: 1em;
    font-size: small;
    border: none;
  }

  .preciop {
    margin: 0 auto;
    width: 90%;
    min-height: auto;
    padding: 1em;
    font-size: small;
    border: none;
  }

  .tallep {
    margin: 0 auto;
    width: 90%;
    min-height: auto;
    padding: 1em;
    font-size: small;
    border: none;
  }

  .categoriap {
    margin: 0 auto;
    width: 90%;
    min-height: auto;
    padding: 1em;
    font-size: small;
    border: none;
  }

  .descripcionp {
    margin: 0 auto;
    width: 90%;
    min-height: auto;
    padding: 1em;
    font-size: small;
    border: none;
  }

  .imagenp {
    margin: 0 auto;
    width: 90%;
    min-height: auto;
    padding: 1em;
    font-size: small;
    border: none;
  }

  .guardarp {
    margin: 0 auto;
    width: 90%;
    min-height: auto;
    padding: 1em;
    font-size: small;
    border: none;
  }
