

.product-box{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    /* padding-bottom: 5%; */
}

.product-box-images{
    background-color: white;
    width: 40%;
    height: 100%;
    /* border-left: solid gray 1px; */
    /* margin-top: 20px; */
    display: flex;
    padding-bottom: 40px;
    padding-top: 25px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.principal-product-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.principal-product-image img{
    width: 90%;
    border: solid gray 0.5px;
    padding: 5px;
    margin: 3px 0px;
        
}
.principal-product-image img:hover {
    box-shadow: 0px 0px 15px #F5BF76;
  }

.other-product-images{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .litle-image{
    border: solid black 0.2px;      
} */
.litle-image:hover {
    box-shadow: 0px 0px 15px #F5BF76;
  }

.product-information{
    background-color: white;
    width: 20%;
    font-size: 14px;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    text-align: center;
    padding: 40px 30px 10px 10px;
    line-height: 1.3;
    /* border-left: solid gray 0.2px;
    border-right: solid gray 0.2px; */

}

.product-information-detail{
    margin-top: 25px;
}


.talles{
    display: flex;
    align-items: center;
}

.circulo {
	width: 2.7rem;
	height: 2.7rem;
	border-radius: 50%;
	background: #BCC1BC;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin:0px auto;
    padding:3%
}

.circulo > h2 {
	font-family: sans-serif;
	color: black;
	font-size: 1rem;
	font-weight: bold;
}

.cantidad{
    display: flex;
    align-items: center;
}

.cuadrado{
    width: 2rem;
    height: 2rem;
    display: flex;
    background-color: #BCC1BC;
    color: black;
    position: relative;
    left: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

article .foto2{
    
    border: solid gray 1px;
}

article .foto3{
   
    border: solid gray 1px;
}

article .foto4{
    
    border: solid gray 1px;
}

article .foto5{
    
    border: solid gray 1px;
}

article .foto6{
    
    border: solid gray 1px;
}

button .boton{
    position: relative;
    left: 30%;
}

.boton-add {
    background-color:  #38F261;
    width: 100%;
    height: 45px;
    display: flex;
    position: relative;
    left: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-style: bold;
    border-radius: 5px;
}
.boton-add:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
.boton-buy {
    background-color: #24953D ;
    width: 100%;
    height: 45px;
    display: flex;
    position: relative;
    left: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-style: bold;
    border-radius: 5px;
}
.boton-buy:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
.edit-product .boton {
    background-color: #F5BF76;
    margin-top: 80px;
    width: 100%;
    height: 45px;
    display: flex;
    position: relative;
    left: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-style: bold;
    border-radius: 5px;
}
.edit-product .boton:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }



.recomendaciones{
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: center;
    align-content: center;
    padding: 20px 0 20px 0;
    background-color: #646D6D;
    color: #F29C38 ;
    font-size:large;
}


.other-products{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;    
}

.litle-other-products{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px gray solid;
    align-items: center;
}
.litle-other-products:hover {
    box-shadow: 0px 0px 7px #F5BF76;
  }
.litle-other-products img{
    margin: 2px;
    padding: 2px;
}
.litle-other-products h7{
    text-align: center;
}

.cam1{
    width: 200px;
    text-align: center;   
       
}

.cam2{
    width: 200px;
    text-align: center;   
    
}

.cam3{
    width: 200px;
    text-align: center;   
    
}

.cam4{
    display: none;
    width: 200px;
    text-align: center; 
    
}

.cam5{
    display: none;
    width: 200px;
    text-align: center;    
    
}

.mascamisetas h4{
    font-size: 14px;
    text-align: center;
}

@media (min-width: 769px) {
    .main{
        display: flex;
        flex-direction: row
    }

    .barca{
        width: 45%;     
    }

    

    .foto{
        width: 80%;
        border: solid gray 2px;
        justify-content: center;
            
    }
     
    .descripcion{
        width: 30%;    
        font-size: 16px;       
    }

    .recomendaciones{
        font-size: x-large;
    }

    .cam4{
        display: block;             
        
    }
    
    .cam5{
        display: block;    
    
    }
    

    
    
}   