
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;        
}


.main{
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 20px 10px 0 10px;
    padding-bottom: 5%;
    
}

.barca{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.foto{
    width: 80%;
    border: solid gray 2px;
        
}

.masfotos{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
      
}

.descripcion{
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    padding: 10px 10px 10px 10px;
    line-height: 1.3;
}


.talles{
    display: flex;
    align-items: center;
}

.circulo {
	width: 2.7rem;
	height: 2.7rem;
	border-radius: 50%;
	background: #BCC1BC;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin:0px auto;
    padding:3%
}

.circulo > h2 {
	font-family: sans-serif;
	color: black;
	font-size: 1rem;
	font-weight: bold;
}

.cantidad{
    display: flex;
    align-items: center;
}

.cuadrado{
    width: 2rem;
    height: 2rem;
    display: flex;
    background-color: #BCC1BC;
    color: black;
    position: relative;
    left: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

article .foto2{
    
    border: solid gray 1px;
}

article .foto3{
   
    border: solid gray 1px;
}

article .foto4{
    
    border: solid gray 1px;
}

article .foto5{
    
    border: solid gray 1px;
}

article .foto6{
    
    border: solid gray 1px;
}

button .boton{
    position: relative;
    left: 30%;
}

.boton {
    background-color: #38F261;
    width: 100%;
    height: 45px;
    display: flex;
    position: relative;
    left: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-style: bold;
    border-radius: 5px;
}


.recomendaciones{
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: center;
    align-content: center;
    padding: 20px 0 20px 0;
    background-color: #646D6D;
    color: #F29C38 ;
    font-size:large;
}


.mascamisetas{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;    
}

.imgBar{
    border:grey solid 1px;
    align-content: center;
   
}

.cam1{
    width: 200px;
    text-align: center;   
       
}

.cam2{
    width: 200px;
    text-align: center;   
    
}

.cam3{
    width: 200px;
    text-align: center;   
    
}

.cam4{
    display: none;
    width: 200px;
    text-align: center; 
    
}

.cam5{
    display: none;
    width: 200px;
    text-align: center;    
    
}

.mascamisetas h4{
    font-size: 14px;
    text-align: center;
}

@media (min-width: 769px) {
    .main{
        display: flex;
        flex-direction: row
    }

    .barca{
        width: 45%;     
    }

    

    .foto{
        width: 80%;
        border: solid gray 2px;
        justify-content: center;
            
    }
     
    .descripcion{
        width: 30%;    
        font-size: 16px;       
    }

    .recomendaciones{
        font-size: x-large;
    }

    .cam4{
        display: block;             
        
    }
    
    .cam5{
        display: block;    
    
    }
    

    
    
}   