<header class="main-header">
    <nav class="top-nav-bar">
        <img src="images/logo-store-de-camisetas.svg" class="logo">
        <input placeholder="  ... encuentra tu camiseta favorita" type="text" name="buscador">
        <div>
        <button class="log-in-button">Log In</button>
        <button class="sign-up-button">Sign Up</button>
        </div>
    </nav>
    <a href="#" class="slide-button"><i class="fas fa-angle-double-down"></i></a>
    <nav class="bottom-nav-bar">
        <div class="left-bar">
            <ul>
                <li><a href="#">Argentina</a></li>
                <li><a href="#">Europa</a></li>
                <li><a href="#">Selecciones</a></li>
                <li><a href="#">Clasicas</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </div>
        <div class="right-bar">
            <ul>
                <li><a href="#">Mis compras</a></li>
                <div class="logo-shop"><i class="fas fa-shopping-bag"></i></div>
            </ul>
        </div>
    </nav>
</header>