<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/productsCart.css">
        <link rel="stylesheet" href="/stylesheets/styleregister.css">
        <link rel="stylesheet" href="/stylesheets/styleslogin.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b4c7c597e4.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/bc2c2b800c.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Red+Hat+Display:wght@500&display=swap" rel="stylesheet">
        <title>Store de camisetas</title>
    </head>

    <!-- Header-->

    <header class="main-header">        
        <nav class="top-nav-bar">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <img src="/images/logo1.png" class="logoTop">
            <input placeholder="  ... encuentra tu camiseta favorita" type="text" name="buscador">
            <div class="logo-sup"><i class="fas fa-shopping-bag"></i></div>
            <div class='top-button'>
                <button class="log-in-button">Log In</button>
                <button class="sign-up-button">Sign Up</button>
            </div>
        </nav>

        <!-- <a href="#" class="slide-button"><i class="fas fa-angle-double-down"></i></a>-->
        <nav class="bottom-nav-bar">
            <div class="left-bar">
                <ul>
                    <li><a href="#">Argentina</a></li>
                    <li><a href="#">Europa</a></li>
                    <li><a href="#">Selecciones</a></li>
                    <li><a href="#">Clasicas</a></li>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </div>
            <div class="right-bar">
                <ul>
                    <li><a href="#">Mis compras</a></li>
                    <div class="logo-shop"><i class="fas fa-shopping-bag"></i></div>
                </ul>
            </div>
        </nav>
    </header>
