    <!-- Header-->

    <header class="main-header">        
        <nav class="top-nav-bar">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <div>
                <a href="#"></a>
                <img src="/images/logo1.png" class="logoTop">
                </a>
            </div>
            <input placeholder="  ... encuentra tu camiseta favorita" type="text" name="buscador">
            <div class="logo-sup"><i class="fas fa-shopping-bag"></i></div>

            <div class='top-button'>
                <a href="/users/login">
                <button class="log-in-button">Log In</button>
                </a>
                <a href="/users/register">
                <button class="sign-up-button">Sign Up</button>
                </a>
            </div>
            
        </nav>

        <!-- <a href="#" class="slide-button"><i class="fas fa-angle-double-down"></i></a>-->
        <nav class="bottom-nav-bar">
            <div class="left-bar">
                <ul>
                    
                    <li><a href="/products/europa">Europa</a></li>
                    <li><a href="/products/selecciones">Selecciones</a></li>
                    <li><a href="/products/clasicas">Clasicas</a></li>
                    <li><a href="/products/esnovedad">Novedades</a></li>
                    <li><a href="/products"></a></li>
                </ul>
            </div>
            <div class="right-bar">
                <ul>
                    <li><a href="/shopCart">Mis compras</a></li>
                    <div class="logo-shop"><i class="fas fa-shopping-bag"></i></div>
                </ul>
            </div>
        </nav>
    </header>