

    <!-- Footer -->

    <footer>
        <div class="footer-superior">
             <div class="logo">
                <img src="/images/logo6.png" alt="Logo" class="logo_img">
            </div>

            <div class="footer-derecha">
                <div class="listas-footer">
                    <div class= "mobile">
                        <p>Mobile app</p>
                        <ul>
                            <li>Features</li>
                            <li>Live share</li>
                            <li>Video record</li>
                        </ul>
                    </div>
                    <div class= "community">
                        <p>Community</p>
                        <ul>
                            <li>Featured artists</li>
                            <li>The Portal</li>
                            <li>Live events</li>
                        </ul>
                    </div>
                    <div class= "company">
                        <p>Company</p>
                        <ul>
                            <li>About us</li>
                            <li>Contact us</li>
                            <li>History</li>
                        </ul>
                    </div>
                </div>
            </div>            
            <!-- <div class="register">
                <button type="submit" class="button-log">Log In</button>
                <button type="submit" class="button-sing">Sign Up</button>
            </div>                 -->
        </div>

        <div class="footer-inferior">
            <p>© Photo, Inc. 2019. We love our users!</p>
            <div class="social">
                <p>Follow us:</p>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="far fa-envelope"></i>
            </div>
        </div>
            
    </footer>
