<%-include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/styles-index.css">
</head>

    <body>
<%-include('./partials/header') %>
    
    <section class="principal">
            <h1 class="principal-title">¡La comunidad más grande de fanaticos de las camisetas!</h1>

            <div class="images-articles">
                <article class="left-article">
                    <a href="http://localhost:3000/products/europa">
                    <img src="images/camisetaseuropa.jpg" class="left-principal-image">
                    <div>
                        <h3>Camisetas de Europa</h3> 
                        <p>Vivi la pasion del viejo continente, encuentra las camisetas de los equipos mas reconocidos de Europa</p>  
                        <h5>#Barcelona #Real Madrid #PSG #Inter de Milan #Manchester United</h5>  
                    </div>
                    </a>
                </article>

                <article class="central-article">
                    <a href="http://localhost:3000/products/argentina">
                        <img src="images/liga-argentina.jpeg" class="central-principal-image">
                        <div>
                            <h3>Camisetas de Argentina</h3> 
                            <p>Vivi la pasión del fútbol argentino, descubre las camisetas de los mejoreas equipo de la AFA.</p>  
                            <h5>#Boca #River #Racing #Independiente #San Lorenzo #Velez</h5>  
                        </div>
                    </a>
                </article>
                
                <article class="right-article">
                    <a href="http://localhost:3000/products/retro">
                    <img src="images/Clasicas.jpeg" class="right-principal-image">
                    <div>
                        <h3>Las mejores casacas de la historia</h3> 
                        <p>Recorre la historia del futbol vistiendo las camisetas que marcaron las hitoria del futbol mundial</p>  
                        <h5>#Maradona #Cryuff #Ronaldo #Messi #Cristiano</h5>  
                    </div>
                    </a>
                </article>
            </div>
        </section>

        <section class="medium-section">
            <h1 class="medium-title">¡Las mejores ligas del mundo en un solo sitio!</h1>
            <article class="medium-images"> 
                <img src="images/premier-league.svg" class="medium-image-1">
                <img src="images/afa.svg" class="medium-image-2">
                <img src="images/la-liga.svg" class="medium-image-3">
                <img src="images/serie-a.svg" class="medium-image-4">
            </article>
        </section>

    <%-include('./partials/footer') %>

</body>
</html>