<%- include('../partials/head') %>
<link rel="stylesheet" href="/stylesheets/admin.css">
</head> 

<body>
    
<%- include('../partials/header') %> 

<section class="profile-additional-data">
    <ul class="profile-ul">
      <li class="profile-li">
        <a href="/products/newProduct">Crear Producto</a>
      </li>
      <li class="profile-li">
        <a href="/products/products">Listar Producto</a>
      </li>
      <!-- <li class="profile-li">
        <a href="#">Crear Usuario Administrador</a>
      </li> -->
    </ul>
</section> 

     

      <%- include('../partials/footer') %> 

</body>

</html>