aca voy a agregar un producto

<form action="/shopCart/addProduct" method="POST">
    <label for="name">nombre del producto:</label>
    <input type="text" name="name" id="name">
    <label for="quantity">cantidad del producto:</label>
    <input type="number" name="quantity" id="quantity">
    <label for="price">precion del producto:</label>
    <input type="number" name="price" id="price" >
    <button class="boton" type="submit"><b>Añadir al carrito</b></button>
</form>