
<%- include('../partials/head') %>
<link rel="stylesheet" href="/stylesheets/styleslogin.css">
</head>

<body>

<%- include('../partials/header') %>

    <h1>Ingres치 ac치</h1>

        <form action="/users/login" method="POST">
           <ul>
              <li>
                <label for="mail">Correo electr칩nico:</label>
                <input type="email" id="email" name="email">
                <% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %>
									</div>
								<% } %>
              </li>
                <br>
              <li>
                <label for="password">Contrase침a:</label>
                <input type="password" id="password" name="password">
              </li>
                <br>
           </ul>
           <div class="col-md-6 my-2">
            <div class="form-group form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
              </label>
            </div>
          </div>
           <li class="button">
            <button type="submit">Ingresar</button>
          </li>
        </form>

<%- include('../partials/footer') %> 

</body>

</html>