<%- include('../partials/head') %>
<link rel="stylesheet" href="/stylesheets/styleregister.css">
</head>

<body>
  
  <%- include('../partials/header') %>
  
<script src="/javaScript/usersRegister.js"></script>

<main>
  <h1>Registrate acá</h1>
  
  
  <form method="POST" action="/users/registrar" class="form">
    <ul>
      <p>Unite a Store de camisetas y accede a increibles descuentos!</p>
      <li>
        <label for="first_name">Nombre:</label>
        <input type="text" id="first_name" name="first_name" class="form-control">                
      </li>
      <br>
      <li>
        <label for="last_name">Apellido:</label>
        <input type="text" id="last_name" name="last_name" class="form-control">
      </li>
      <br>
      <li>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" class="form-control">
      </li>
      <br>
      <li>
        <label for="password">Crear contraseña:</label>
        <input type="password" id="password" name="password">
      </li>
      <br>
    </ul>
    <li class="button">
      <button type="submit">Registrarse</button>
    </li>
  </form>
</main>

<%- include('../partials/footer') %> 

</body>

</html>
